
table.sortable thead tr .header {
	background-image: url(/assets/images/icons/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.sortable thead tr .headerSortUp {
	background-image: url(/assets/images/icons/asc.gif);
}
table.sortable thead tr .headerSortDown {
	background-image: url(/assets/images/icons/desc.gif);
}
.pager form {  padding: 6px 0 6px 5px;  width: 100%; overflow: hidden; }
.pager img { display: block; float: left;  padding: 3px 7px; cursor: pointer;  }
.pager input { display: block; float: left; width: 40px; padding: 2px; }
.pager select { display: block; float: left; margin-left: 20px;}